@mixin flexRow($gap: 0, $justifyContent: center, $alignItems: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  gap: $gap;
}

@mixin flexColumn($gap: 0, $justifyContent: center, $alignItems: center) {
  display: flex;
  flex-direction: column;
  align-items: $alignItems;
  justify-content: $justifyContent;
  gap: $gap;
}

@mixin primaryButton($color, $background, $hoverBackground) {
  background-color: $background;
  border: 2px solid $color;
  box-shadow: $box-shadow;
  font-family: "Space Mono", monospace;
  color: $color;
  font-weight: 700;
  padding: 0.5rem 1.3rem;
  font-size: 1.1rem;
  border-radius: $border-radius;
  transition: $transition;
  &:hover {
    background-color: $hoverBackground;
  }
  &:disabled {
    position: relative;
    background-color: $hoverBackground;
    pointer-events: none;
    cursor: $default-cursor;
    span {
      opacity: 0;
    }
    .ovalBtn {
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translate(50%, 50%);
    }
    &.error-disabled {
      background-color: gray;
      color: ghostwhite;
      border-color: gray;
      span {
        opacity: 1;
      }
    }
  }
  @media (max-width: 767px) {
    font-size: 0.9rem;
  }
}

@mixin calendarButton($color, $background, $hoverColor) {
  background-color: $background;
  border: 2px solid $background;
  font-family: "Space Mono", monospace;
  color: $color;
  font-size: 1.1rem;
  transition: $transition;
  &:hover {
    color: $hoverColor;
  }
}

@mixin messegeTheme($theme) {
  background-color: $theme;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 1rem;
  border-radius: $border-radius;
  box-sizing: border-box;
  font-size: 0.9rem;
  color: #fff;
}

@mixin grid($repeat, $textAlign) {
  display: grid;
  grid-template-columns: repeat($repeat, (minmax(0, 1fr)));
  text-align: $textAlign;
}

@mixin daySelection($color: $pink-color) {
  background-color: $color;
  border-radius: 9999px;
  height: 3.3rem;
  width: 3.3rem;
  @include flexRow();
  transition: $transitionBackground;
  -webkit-transition: $transitionBackground;
  -o-transition: $transitionBackground;
  -moz-transition: $transitionBackground;
  @media (max-width: 767px) {
    width: 2.2rem;
    height: 2.2rem;
  }
}
