.calendarPage {
  .calendarHeader {
    @include grid($repeat: 7, $textAlign: center);
    border-bottom: 1px solid $blue-color;
    font-family: $spacemono;
    .material-icons {
      font-size: 2rem;
    }
    .currentMonthYear {
      grid-column: 3 / 6;
    }
    & > * {
      padding: 1rem 0.8rem;
      @include flexRow();
    }
    button {
      @include calendarButton(
        $color: $lightBlue-color,
        $background: $blue-color,
        $hoverColor: $lighterPink-color
      );
    }

    div {
      color: $blue-color;
      background-color: $lightBlue-color;
    }
  }
  .daysTitle {
    @include grid($repeat: 7, $textAlign: center);
    font-family: $spacemono;
    .dayTitle {
      background-color: $lightBlue-color;
      padding: 1.2rem 0.8rem;
      border: 1px solid $blue-color;
      font-size: 1rem;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  .days {
    @include grid($repeat: 7, $textAlign: center);
    font-family: $roboto;
    position: relative;
    flex: 1;
    &.weekDisplay {
      border-bottom: 2px solid $blue-color;
      .day {
        @include flexRow();
        font-size: 1rem;
      }
    }
    &.monthDisplay {
      overflow-y: scroll;
      .day {
        @include flexColumn($gap: 0.2rem);
        font-size: 1.1rem;
        padding: 0.5rem 0;
        span {
          height: 3.3rem;
          width: 3.3rem;
          @include flexRow();
        }
        .hasEvent {
          font-size: 0.8rem;
          color: $pink-color;
          -webkit-text-stroke: 2px black;
        }
      }
    }
    & > * {
      min-height: 5rem;
      border-top: 1px solid $blue-color;
      border-bottom: 1px solid $blue-color;
    }
    & > *:nth-last-child(-n + 7) {
      border-bottom: none;
    }
    .emptyDay {
      background-color: $pink-color;
    }
    .day {
      background-color: $lighterPink-color;
      cursor: $pointer-cursor;
      position: relative;
      &.selected span {
        @include daySelection();
      }
      &.today span {
        color: $blue-color;
        font-weight: bold;
      }
      &:hover span {
        @include daySelection();
      }
    }
    .prevWeek,
    .nextWeek {
      @include flexRow();
      position: absolute;
      cursor: $pointer-cursor;
      color: $lighterPink-color;
      transition: $transition;
      background-color: $blue-color;
      padding: 0rem 0.2rem;
      z-index: 1;
      & span {
        font-size: 1.3rem;
      }
      &:hover {
        color: $pink-color;
      }
    }
    .prevWeek {
      left: 0px;
    }
    .nextWeek {
      right: 0px;
    }
  }
  .allDayWrapper {
    @include flexRow($gap: 1rem, $justifyContent: space-between);
    background-color: $pink-color;
    padding: 0.6rem 0.7rem;

    .allDayText {
      font-family: $spacemono;
      font-size: 0.8rem;
    }
    .allDayBlocks {
      @include flexRow($gap: 0.5rem);
      flex-wrap: wrap;
      flex: 1;
      .allDayEventBlock {
        background-color: $lighterBlue-color;
        border-radius: $border-radius;
        padding: 0.4rem 0.8rem;
        font-family: $roboto;
        font-size: 0.8rem;
        flex: 1;
        min-width: fit-content;
        cursor: $pointer-cursor;
        transition: $transition;
        &:hover {
          background-color: $lightBlue-color;
        }
      }
    }
  }
  .dayWrapper {
    @include flexColumn($justifyContent: flex-start);
    background-color: $lighterPink-color;
    padding: 3rem 2rem 2.3rem;
    overflow-y: auto;
    .box {
      border-top: 1px solid $blue-color;
      flex: 1;
      width: 100%;
      position: relative;
      box-sizing: border-box;
    }
    .hour {
      font-family: $roboto;
      font-size: 0.9rem;
      background-color: $lighterPink-color;
      align-self: flex-start;
      position: relative;
    }
    .blocks {
      @include flexRow($gap: 0.8rem, $alignItems: flex-start);
      width: 100%;
      .boxes {
        flex: 1;
        position: relative;
        .box {
          height: 8rem;
        }
        .event {
          font-family: $roboto;
          background-color: rgb(194, 218, 255, 0.8);
          border-radius: $border-radius;
          text-align: left;
          position: absolute;
          right: 0;
          box-sizing: border-box;
          z-index: 1;
          border: 1px solid $lightBlue-color;
          border-left: 5px solid $blue-color;
          cursor: $pointer-cursor;
          transition: $transition;
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            border-color: $pink-color;
          }
          .eventText {
            max-height: 100%;
            .eventTitle {
              font-size: 0.9rem;
              color: $blue-color;
              .eventTime {
                font-size: 0.7rem;
                color: $purple-color;
                padding-left: 0.3rem;
              }
            }
          }
        }
      }
      .hours {
        .hourBlock {
          height: 8rem;
          .hour {
            top: -6.2%;
          }
        }
      }
    }
    .midnight {
      width: 100%;
      @include flexRow($gap: 0.8rem, $justifyContent: space-between);
      height: 10px;
      .box {
        height: 10px;
      }
      .hour {
        top: -82.2%;
      }
    }
  }
}

@media (min-width: 1700px) {
  .calendarPage {
    .days > * {
      min-height: 7rem;
    }
  }
}

@media (max-width: 1200px) {
  .calendarPage {
    .days {
      flex: 1;
      &.monthDisplay {
        .day {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .calendarPage {
    .calendarHeader {
      & > * {
        padding: 0.6rem;
      }
      .material-icons {
        font-size: 1.7rem;
      }
      .currentMonthYear {
        font-size: 0.8rem !important;
      }
    }
    .days {
      &.monthDisplay {
        .day span {
          width: 2.2rem;
          height: 2.2rem;
        }
      }
      & > * {
        min-height: 4.2rem;
      }
      .day {
        font-size: 1rem !important;
      }
      .nextWeek,
      .prevWeek {
        min-height: 1.6rem;
        top: -20%;
      }
      .nextWeek {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        padding: 0rem 0.3rem 0 0.5rem;
        & > span {
          font-size: 1.2rem;
        }
      }
      .prevWeek {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        padding: 0rem 0.5rem 0 0.3rem;
        & > span {
          font-size: 1.2rem;
        }
      }
    }
    .daysTitle {
      .dayTitle {
        padding: 1rem 0.8rem;
        font-size: 0.8rem;
      }
    }
    .allDayWrapper {
      .allDayText {
        font-size: 0.65rem;
      }
      .allDayEventBlock {
        font-size: 0.7rem !important;
      }
    }
    .dayWrapper {
      padding: 2.2rem 1.2rem 1.5rem;
      .hour {
        font-size: 0.8rem;
      }
    }
  }
}
