.calendarPage {
  height: 100vh;
  box-sizing: border-box;
  .container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    box-shadow: $box-shadow-no-top;
    overflow: hidden;
    .actionsBar {
      background-color: $lilac-color;
      border-bottom: 2px solid $blue-color;
      padding: 0 0.5rem;
      @include flexRow($gap: 0.7rem, $justifyContent: space-between);
      .actionsButtons {
        @include flexRow($gap: 0.7rem, $justifyContent: flex-end);
      }
      button {
        @include calendarButton(
          $color: $blue-color,
          $background: $lilac-color,
          $hoverColor: $lighterPink-color
        );
        padding: 0.8rem 0.7rem;
        @include flexRow();
        .material-icons {
          font-size: 1.8rem;
        }
        &:disabled {
          pointer-events: none;
          color: gray;
          cursor: $default-cursor;
        }
      }
      .goBack {
        @include flexRow($gap: 0.7rem, $justifyContent: flex-start);
        .text {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (min-width: 1700px) {
  .calendarPage {
    padding: 2.2rem 0 3rem;
    .container {
      width: 1500px;
      height: unset;
      border-radius: $border-radius;
      .actionsBar {
        background-color: $lightBlue-color;
        button {
          background-color: $lightBlue-color;
          border: $lightBlue-color;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .calendarPage {
    .container {
      .actionsBar {
        padding: 0 0.3rem;
        .actionsButtons {
          gap: 0.2rem;
        }
        button {
          padding: 0.7rem 0.5rem;
          .material-icons {
            font-size: 1.3rem;
          }
        }
        .goBack {
          .text {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
