@import "./variables.scss";

@mixin flexRow($gap: 1rem, $direction: center) {
  display: flex;
  align-items: center;
  justify-content: $direction;
  gap: $gap;
}

@mixin flexColumn($gap: 1rem, $direction: center) {
  display: flex;
  flex-direction: column;
  align-items: $direction;
  justify-content: center;
  gap: $gap;
}

@mixin primaryButton($color, $background, $hoverBackground) {
  background-color: $background;
  border: 2px solid $color;
  box-shadow: $box-shadow;
  font-family: "Space Mono", monospace;
  color: $color;
  font-weight: 700;
  padding: 0.5rem 1.3rem;
  font-size: 1.1rem;
  border-radius: $border-radius;
  transition: $transition;
  &:hover {
    background-color: $hoverBackground;
  }
}

@mixin messegeTheme($theme) {
  background-color: $theme;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 1rem;
  border-radius: $border-radius;
  box-sizing: border-box;
  font-size: 0.9rem;
  color: #fff;
}
