@import "./variables.scss";

@mixin flexRow($gap: 0, $justifyContent: center) {
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
  gap: $gap;
}

@mixin flexColumn($gap: 0, $alignItems: center) {
  display: flex;
  flex-direction: column;
  align-items: $alignItems;
  justify-content: center;
  gap: $gap;
}

@mixin primaryButton($color, $background, $hoverBackground) {
  background-color: $background;
  border: 2px solid $color;
  box-shadow: $box-shadow;
  font-family: "Space Mono", monospace;
  color: $color;
  font-weight: 700;
  padding: 0.5rem 1.3rem;
  font-size: 1.1rem;
  border-radius: $border-radius;
  transition: $transition;
  &:hover {
    background-color: $hoverBackground;
  }
}
@mixin calendarButton($color, $background, $hoverBackground) {
  background-color: $background;
  border: 2px solid $background;
  font-family: "Space Mono", monospace;
  color: $color;
  font-size: 1.1rem;
  transition: $transition;
  &:hover {
    color: $hoverBackground;
  }
}

@mixin messegeTheme($theme) {
  background-color: $theme;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 1rem;
  border-radius: $border-radius;
  box-sizing: border-box;
  font-size: 0.9rem;
  color: #fff;
}

@mixin grid($repeat, $textAlign) {
  display: grid;
  grid-template-columns: repeat($repeat, (minmax(0, 1fr)));
  text-align: $textAlign;
}

@mixin daySelection($color: $pink-color) {
  background-color: $color;
  border-radius: 9999px;
  height: 3.6rem;
  width: 3.6rem;
  @include flexRow();
  transition: $transitionBackground;
  -webkit-transition: $transitionBackground;
  -o-transition: $transitionBackground;
  -moz-transition: $transitionBackground;
}
