/*colors*/
$lilac-color: #d2c4ff;
$lavender-color: #ddd2ff;
$purple-color: #ab92ff;
$blue-color: #3a86ff;
$lightBlue-color: #9cc2ff;
$lighterBlue-color: #c2daff;
$darkPink-color: #ff84c3;
$pink-color: #ffabd6;
$lighterPink-color: #ffddf2;
$orange-color: #fdcfb9;
$lightRed-color: #ff8888;
$lighterRed-color: #ffa6a6;
$green-color: #72e190;
$lightGreen-color: #cbffd4;

/*cursors*/
$default-cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat991.cur), auto;
$pointer-cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto;

/*fonts*/
$spacemono: "Space Mono", monospace;
$roboto: "Roboto", sans-serif;
$lora: "Lora", serif;

$transition: all 200ms ease;
$transitionBackground: background-color 200ms ease;
$border-radius: 8px;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-no-top: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
$box-shadow-dark: rgba(0, 0, 0, 0.24) 0px 3px 8px;
